{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <title>Responsive Contact Us Page</title>
  <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "css/style_success_page.css" %}">
</head>
<body>
  
  <section>
    
    <div class="section-header">
      <div class="container">
        <h2>Thank you reaching Climate Troopers</h2>
        <p>We will reach you !! Stay tuned</p>
    </div>
    
    
        
        
  </section>
  
</body>
</html>